.cards {
    display: flex;
    gap: 20px;
    margin: 30px 2%;
}

.card,
.card2,
.card3 {
    background-color: #262626;
    color: #F5F5F5;
    flex: 1;
    min-height: 300px;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    font-size: 20px;
    border: 2px solid #404040;
}

.card h2,
.card2 h2,
.card3 h2 {
    color: #A3E635;
    font-size: 30px;
    text-align: center;
}

.cabe {
    margin: 0 2%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    background-color: #0A0A0A;
    text-align: center;
    border: 2px solid #A3E635;
}

.cabe div {
    margin: 10px;
    font-size: 10px;
}

.cabe h1 {
    color: #A3E635;
    font-size: 30px;
}

body {
    background-color: #171717;
    color: #F5F5F5;
    font-family: Arial, sans-serif;
}

p {
    padding: 10px;
    color: #F5F5F5;
    font-family: Courier, monospace;
    font-size: 140%;
    text-align: center;
}

.contato {
    background-color: #262626;
    color: #F5F5F5;
    height: fit-content;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    margin: 0 2%;
    border: 2px solid #404040;
}

.contato h2 {
    color: #A3E635;
}

.contato a {
    color: #A3E635 !important;
    font-weight: bold;
}

li {
    color: #F5F5F5;
}